<%# Copyright 2023, Pablo Fernandez

This file is part of Repeater World.

Repeater World is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General
Public License as published by the Free Software Foundation, either version 3 of the License.

Foobar is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty
of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License along with Foobar. If not, see
<https://www.gnu.org/licenses/>.%>

<div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:border-b sm:border-gray-200 py-3 sm:py-5">
  <%= form.label field_name, label, class: "block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2" %>
  <div class="mt-1 sm:col-span-2 sm:mt-0">
    <%= form.email_field field_name,
                         **input_html_options.deep_merge({ class: [input_html_options[:class], "field-text block max-w-lg sm:max-w-sm w-full"] }) %>
    <% if help_text.present? %>
      <p class="mt-2 text-sm text-gray-500"><%= help_text %></p>
    <% end %>
  </div>
</div>
