<%# Copyright 2023, Flexpoint Tech

This file is part of Repeater World.

Repeater World is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General
Public License as published by the Free Software Foundation, either version 3 of the License.

Repeater World is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License along with Repeater World. If not, see
<https://www.gnu.org/licenses/>.%>

<div>
  <%= form.label field_name, label, class: "block font-medium" %>
  <div class="mt-2">
    <%= form.email_field field_name,
                        **input_html_options.deep_merge(
                          { class: [input_html_options[:class],
                                    "field-text block w-full"] }) %>
    <% if help_text.present? %>
      <p class="mt-3 text-gray-500 dark:text-gray-400"><%= help_text %></p>
    <% end %>
    <% form.object.errors.where(field_name).each do |error| %>
      <p class="mt-2 text-red-600 dark:text-red-300"><%= error.full_message %></p>
    <% end %>
  </div>
</div>
