<%# Copyright 2023, Pablo Fernandez

This file is part of Repeater World.

Repeater World is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General
Public License as published by the Free Software Foundation, either version 3 of the License.

Repeater World is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License along with Repeater World. If not, see
<https://www.gnu.org/licenses/>.%>

<%# The style here needs to be kept in sync with _toggle_like_button.html.erb %>
<%= form.label name,
               class: (form.object.send(name) ? "button-toggle-checked" : "button-toggle-unchecked") +
                 " #{local_assigns[:class]}",
               data: { controller: "toggle-button", **data },
               **kwargs do %>
  <%= form.check_box name,
                     class: "sr-only",
                     aria: { labelledby: "#{name}-actual-label" },
                     data: { action: "change->toggle-button#updateStyle" } %>
  <span id="<%= "#{name}-actual-label" %>"><%= label %></span>
<% end %>
