<div data-controller="badge-checkbox" class="inline-block">
  <%= form.check_box name, class: "hidden" %>
  <%= form.label name, label, class: "inline-flex items-center rounded-md m-px cursor-pointer
                                      bg-gray-200 text-gray-800 transition-all
                                      px-2.5 py-0.5 text-md font-medium" %>
</div>
