<%# Copyright 2023, Flexpoint Tech

This file is part of Repeater World.

Repeater World is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General
Public License as published by the Free Software Foundation, either version 3 of the License.

Foobar is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty
of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License along with Foobar. If not, see
<https://www.gnu.org/licenses/>.%>

<div data-controller="badge-checkbox" class="inline-block">
  <%= form.check_box name, class: "hidden" %>
  <%= form.label name, label, class: "inline-flex items-center rounded-md m-px cursor-pointer
                                      bg-gray-200 text-gray-800 transition-all
                                      px-2.5 py-0.5 text-md font-medium" %>
</div>
