<div class="relative flex-none"
     data-controller="dropdown-menu">
  <button type="button"
          class="-m-2.5 block p-2.5 text-gray-500 hover:text-gray-900"
          id="options-menu-0-button"
          aria-expanded="false"
          aria-haspopup="true"
          data-action="click->dropdown-menu#toggle"
          data-dropdown-menu-target="button">
    <span class="sr-only">Open options</span>
    <i class="fa-solid fa-ellipsis-vertical"></i>
  </button>
  <div class="absolute right-0 z-10 mt-2 w-32 origin-top-right
              rounded-md bg-white py-2
              shadow-lg ring-1 ring-gray-900/5 focus:outline-none
              hidden"
       role="menu" aria-orientation="vertical" aria-labelledby="options-menu-0-button" tabindex="-1"
       data-transition-enter="ease-out duration-100"
       data-transition-enter-start="opacity-0 scale-95"
       data-transition-enter-end="opacity-100 scale-100"
       data-transition-leave="ease-in duration-75"
       data-transition-leave-start="opacity-100 scale-100"
       data-transition-leave-end="opacity-0 scale-95"
       data-dropdown-menu-target="menu">
    <%= contents %>
  </div>
</div>
