<%# Copyright 2023, Flexpoint Tech

This file is part of Repeater World.

Repeater World is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General
Public License as published by the Free Software Foundation, either version 3 of the License.

Repeater World is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License along with Repeater World. If not, see
<https://www.gnu.org/licenses/>.%>

<div class="shadow-sm ring-1 ring-black ring-opacity-5">
  <table class="min-w-full border-separate" style="border-spacing: 0">
    <thead class="bg-gray-50">
      <tr>
        <th scope="col" class="sticky top-0 z-10 border-b border-gray-300 bg-gray-50 bg-opacity-75 px-1 pl-4 pr-2 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter">
          Band
        </th>
        <% RepeaterSearch::MODES_AND_MULTI.each do |mode| %>
          <th scope="col" class="sticky top-0 z-10 border-b border-gray-300 bg-gray-50 bg-opacity-75 px-1 py-2 text-center text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter w-16">
            <%= mode[:label] %>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody class="bg-white">
      <% RepeaterSearch::BANDS.each_with_index do |band, index| %>
        <tr class="<%= index.even? ? "bg-white" : "bg-gray-50" %>">
          <td class="whitespace-nowrap border-b border-gray-200 px-1 pl-4 pr-2 text-sm text-gray-900">
            <%= band[:label] %>
          </td>
          <% RepeaterSearch::MODES_AND_MULTI.each do |mode| %>
            <td class="whitespace-nowrap border-b border-gray-200 px-1 py-2 text-sm text-gray-900 text-center">
              <%= image_tag("map_markers/marker-#{band[:symbol]}-#{mode[:symbol]}.svg", style: "width: 20px", class: "inline-block") %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
