<%# Copyright 2023, Flexpoint Tech

This file is part of Repeater World.

Repeater World is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General
Public License as published by the Free Software Foundation, either version 3 of the License.

Repeater World is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License along with Repeater World. If not, see
<https://www.gnu.org/licenses/>.%>

<header class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mb-3
            sm:flex sm:items-center sm:justify-between">
  <% if local_assigns[:title] %>
    <div class="flex-1 min-w-0">
      <h1 class="text-2xl font-bold leading-7 sm:text-3xl sm:truncate"><%= title %></h1>
    </div>
  <% end %>
  <% if local_assigns[:head_title] %>
    <% content_for :head_title, head_title %>
  <% elsif local_assigns[:title] %>
    <% content_for :head_title, title %>
  <% end %>
  <div class="mt-4 sm:mt-0 sm:ml-4
              flex gap-2">
    <%= yield %>
  </div>
</header>
