<%# Copyright 2023, Flexpoint Tech

This file is part of Repeater World.

Repeater World is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General
Public License as published by the Free Software Foundation, either version 3 of the License.

Repeater World is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License along with Repeater World. If not, see
<https://www.gnu.org/licenses/>.%>

<%# Inspired by https://tailwindui.com/components/application-ui/forms/toggles %>
<div data-controller="toggle-checkbox" class="inline-block">
  <%= form.check_box name, class: "hidden", **check_box_html_options %>
  <%= form.label name, role: "switch", aria_checked: "false",
                 class: "group relative inline-flex h-5 w-10 flex-shrink-0 cursor-pointer items-center justify-center
                         rounded-full focus:outline-none focus:ring-2 focus:ring-orange-500 focus:ring-offset-2" do %>
    <span class="sr-only">Use setting</span>
    <span aria-hidden="true"
          class="pointer-events-none absolute h-full w-full rounded-md"></span>
    <span aria-hidden="true"
          class="slot
                 pointer-events-none absolute mx-auto h-4 w-9
                 rounded-full
                 bg-orange-200
                 transition-colors duration-200 ease-in-out"></span>
    <span aria-hidden="true"
          class="circle
                 translate-x-2.5 pointer-events-none absolute left-0 inline-block h-5 w-5 transform
                 rounded-full border-0 border-orange-800 shadow ring-0
                 bg-orange-500
                 transition-transform duration-200 ease-in-out"></span>
  <% end %>
</div>
