<%= render "shared/page_header",
           title: @repeater.name,
           head_title: "#{@repeater.name} - #{@repeater.call_sign}" %>

<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
  <%= render "shared/flash_messages" %>

  <%= render @repeater %>
</div>
