default: &default
  adapter: postgresql
  encoding: unicode
  # For details on connection pooling, see Rails configuration guide
  # https://guides.rubyonrails.org/configuring.html#database-pooling
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

non_production: &non_production
  <<: *default
  username: repeater_world_development
  password: te6ahng1phi1uizaeGhahMof1
  host: localhost
  port: 5001

development:
  <<: *non_production
  database: repeater_world_development

test:
  <<: *non_production
  database: repeater_world_test

production:
  <<: *default
  url: <%= ENV["DATABASE_URL"] %>
