<%# Copyright 2023, Flexpoint Tech

This file is part of Repeater World.

Repeater World is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General
Public License as published by the Free Software Foundation, either version 3 of the License.

Foobar is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty
of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License along with Foobar. If not, see
<https://www.gnu.org/licenses/>.%>

<%= render "shared/page_header", title: "Crawler" %>

<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
  <%= render "shared/flash_messages" %>

  <p class="mt-2">
    Repeater World has a crawler that we use to download data to import into our
    database. The crawler should be well behaved and not run too often. Generally we ask
    for permission first. If for some reason the crawler is misbehaving, please don't
    just block us, <%= mail_to "info@repeater.world", "contact us" %> so we can fix it.
  </p>
</div>
