<%# Copyright 2023, Pablo Fernandez

This file is part of Repeater World.

Repeater World is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General
Public License as published by the Free Software Foundation, either version 3 of the License.

Repeater World is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License along with Repeater World. If not, see
<https://www.gnu.org/licenses/>.%>

<%= render "shared/page_header", title: "Data Limitations from sral.fi" %>

<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
  <%= render "shared/flash_messages" %>

  <p class="mt-2">
    Repeater World aims to be <%= link_to "open source, both code and data", open_source_open_data_url, class: "link" %>
    but depending on the origin of the data we have, there are limitations in how it can be redistributed. Every record
    marked with this URL has the restrictions documented here.
  </p>

  <p class="mt-2">
    sral.fi says:

  <blockquote class="mt-2 pl-2 border-gray-200 border-l-4">
    This service and data may be used for non-commercial HAM radio applications only. Do not overload the service. Avoid
    unnecessary queries. Sysadmin may restrict/limit access for performance or other reasons. This service (including
    data) is provided "AS IS" WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING, BUT NOT LIMITED TO,
    THE IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE.
  </blockquote>
  </p>

  <p class="mt-2">
    We don't like these limitations. We believe information should be free, and we'll
    aim, over time, to re-source all the data to have no limitations. You can help us
    by submitting new data to <%= mail_to "info@repeater.world", class: "link" %> and
    putting it in public domain.
  </p>
</div>
