<%# Copyright 2023, Pablo Fernandez

This file is part of Repeater World.

Repeater World is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General
Public License as published by the Free Software Foundation, either version 3 of the License.

Repeater World is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License along with Repeater World. If not, see
<https://www.gnu.org/licenses/>.%>

<%= render "shared/page_header", title: "UI" %>

<div class="m-4 w-64">
  <div class="button">Div Button</div>
</div>

<div class="m-4 w-64">
  <button class="button">Button Button</button>
</div>

<div class="m-4 w-64">
  <a class="button">Link Button</a>
</div>

<div class="m-4 w-64">
  <input type="button" class="button" value="Input Button"/>
</div>

<div class="m-4 w-64">
  <div class="button-secondary">Div Secondary Button</div>
</div>

<div class="m-4 w-64">
  <button class="button-secondary">Button Secondary Button</button>
</div>

<div class="m-4 w-64">
  <a class="button-secondary">Link Secondary Button</a>
</div>

<div class="m-4 w-64">
  <input type="button" class="button-secondary" value="Input Secondary Button"/>
</div>