<%# Copyright 2023, Pablo Fernandez

This file is part of Repeater World.

Repeater World is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General
Public License as published by the Free Software Foundation, either version 3 of the License.

Foobar is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty
of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License along with Foobar. If not, see
<https://www.gnu.org/licenses/>.%>

<%# Link to the "Last" page
  - available local variables
    url:           url to the last page
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
-%>
<% if current_page.last? || current_page.out_of_range? %>
  <span class="pt-4 px-4
               border-t-2 border-transparent
               inline-flex items-center
               text-sm font-medium text-gray-300">
      <span class="mr-2 hidden sm:block">Last</span>
      <i class="fa-solid fa-angles-right"></i>
    </span>
<% else %>
  <%= link_to url, remote: remote,
              class: "pt-4 px-4
                      border-t-2 border-transparent
                      inline-flex items-center
                      text-sm font-medium text-gray-500
                      hover:text-gray-700 hover:border-gray-300" do %>
    <span class="mr-2 hidden sm:block">Last</span>
    <i class="fa-solid fa-angles-right"></i>
  <% end %>
<% end %>
