<div class="py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:py-5 sm:px-3">
  <dt class="text-sm font-medium text-gray-500 truncate"><%= key %></dt>
  <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
    <%= value if local_assigns[:value] %>
    <%= yield %>
  </dd>
</div>
