<%# Copyright 2023, Pablo Fernandez

This file is part of Repeater World.

Repeater World is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General
Public License as published by the Free Software Foundation, either version 3 of the License.

Foobar is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty
of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License along with Foobar. If not, see
<https://www.gnu.org/licenses/>.%>

<div class="w-full flex-grow min-h-[500px] bg-gray-300"
     data-controller="map"
     data-action="google-maps-callback@window->maps#initializeMap"
     data-map-markers-value="<%= repeaters.map do |repeater|
       { lat: repeater.latitude,
         lng: repeater.longitude,
         tooltip: repeater.call_sign,
         info: "<h1 class='font-bold text-lg link'>#{link_to repeater.name, repeater}</h1>
                <p class='link'>#{link_to repeater.call_sign, repeater}</p>
                <p>Band: <span class='font-bold'>#{h repeater.band}</span></p>
                <p>Modes: <span class='font-bold'>#{h repeater.modes.join(", ")}</span></p>
                <p>Frequency: <span class='font-bold'>#{h repeater.tx_frequency_in_mhz} #{h repeater.rx_offset_in_khz}</span></p>
                <p>Location: <span class='font-bold'>#{h repeater.location_in_words}</span></p>
                <p>Lat: <span class='font-bold'>#{h repeater.latitude}</span>,
                   Long: <span class='font-bold'>#{h repeater.longitude}</span</p>
                <p>Grid square: <span class='font-bold'>#{h repeater.grid_square}<span></p>" }
     end.to_json %>"></div>
