<%# Copyright 2023, Flexpoint Tech

This file is part of Repeater World.

Repeater World is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General
Public License as published by the Free Software Foundation, either version 3 of the License.

Foobar is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty
of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License along with Repeater World. If not, see
<https://www.gnu.org/licenses/>.%>

<div class="contents"
     data-controller="repeater">
  <%= tabbed_view tabs: [{ title: "Cards", name: "cards", url: @cards_url, icon: "fa-solid fa-table" },
                         { title: "Map", name: "map", url: @map_url, icon: "fa-solid fa-map-location-dot" },
                         { title: "Table", name: "table", url: @table_url, icon: "fa-solid fa-table-list" }],
                  selected_tab: @selected_tab do |selected_tab| %>
    <% if selected_tab == "cards" %>
      <%= render "repeater_list_cards", repeaters: repeaters %>
    <% elsif @selected_tab == "map" %>
      <%= render "repeater_list_map", repeaters: repeaters %>
    <% elsif @selected_tab == "table" %>
      <%= render "repeater_list_table", repeaters: repeaters %>
    <% end %>
  <% end %>
</div>
