<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing repeater search</h1>

  <%= render "form", repeater_search: @repeater_search %>

  <%= link_to "Show this repeater search", @repeater_search, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to repeater searches", repeater_searches_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
