<div class="flex-grow w-full px-10
            flex flex-col"
     data-controller="repeater-searches">
  <%= render "shared/flash_messages" %>

  <%= render "form",
             repeater_search: @repeater_search,
             form_method: :get,
             url: search_url %>

  <%= render "repeater_list", repeaters: @repeaters if @repeaters.present? %>
</div>
