<div class="mx-auto md:w-2/3 w-full">
  <div class="mx-auto">
    <%= render "shared/flash_messages" %>
  </div>
  <div class="mx-auto">
    <%= render "form", repeater_search: @repeater_search %>
  </div>
  <div class="mx-auto">
    <%= render "repeater_list", repeaters: @repeaters if @repeaters.present? %>
  </div>
</div>
