/* Copyright 2023, Flexpoint Tech
 *
 * This file is part of Repeater World.
 *
 * Repeater World is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General
 * Public License as published by the Free Software Foundation, either version 3 of the License.
 *
 * Repeater World is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
 * warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
 * details.
 *
 * You should have received a copy of the GNU Affero General Public License along with Repeater World. If not, see
 * <https://www.gnu.org/licenses/>.
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .link {
        @apply underline text-orange-600 hover:text-orange-800;
    }

    .button-base {
        @apply inline-block
        m-1 py-3 px-2
        font-semibold
        rounded-md
        outline-2 outline-offset-2
        focus:outline-dotted;
    }

    .button {
        @apply button-base
        text-white bg-orange-500
        outline-orange-400
        hover:bg-orange-400
        focus:bg-orange-400;
    }

    .button-secondary {
        @apply button-base
        text-white bg-cyan-800
        outline-cyan-700
        hover:bg-cyan-700
        focus:bg-cyan-700;
    }

    .field-text {
        @apply sm:text-sm rounded-md shadow-sm focus:outline-none focus:ring-orange-500 focus:border-orange-500 border-gray-300;
    }

    .field_with_errors > .field-text {
        @apply focus:ring-red-500 focus:border-red-500 border-red-300 text-red-900 placeholder-red-300;
    }

    .field-textarea {
        @apply rounded-md shadow-sm sm:text-sm focus:ring-orange-500 focus:border-orange-500 border-gray-300;
    }

    .field_with_errors > .field-textarea {
        @apply focus:ring-red-500 focus:border-red-500 border-red-300 text-red-900 placeholder-red-300;
    }

    .geosearch .field_with_errors {
        @apply inline-block;
    }

    .geosearch .field_with_errors input,
    .geosearch .field_with_errors select {
        @apply focus:ring-red-500 border-red-500 text-red-900 placeholder-red-300;
    }

    /* Why? so that I can make the chevrons slightly lighter, from 6b7280 to D1D5DB (gray-300) */
    .geosearch select.text-gray-300 {
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath stroke='%23D1D5DB' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m6 8 4 4 4-4'/%3E%3C/svg%3E");
    }
}
